doctype html
head
    title= "error"
    meta(http-equiv='Content-Type',content='text/html; charset=UTF-8')
    base(href='/bi/calendar/')
    link(rel='stylesheet', href='css/main.css')
    block headcontent
body
    block content

    p  #{message}
    block jscontent